<div class="container">
  <mat-card class="chat-card">
    <a>Wystawiona książka: {{offer.advertisement.book.title}}</a>
    <a>Proponowana książka: {{offer.book.title}}</a>
    <div>
      <mat-divider></mat-divider>
    </div>
    <div id="messages" #scrollMe>
      <div *ngFor="let msg of offer.messages" class="messages-list">
        <p *ngIf="msg.nameUser !== userService.loggedUser.username" class="left-time">{{msg.nameUser}}, {{msg.time | date: 'd/M/yy hh:mm'}}</p>
        <mat-card *ngIf="msg.nameUser !== userService.loggedUser.username" class="left-msg">
          {{msg.content}}
        </mat-card>

        <p *ngIf="msg.nameUser === userService.loggedUser.username" class="right-time">{{msg.nameUser}}, {{msg.time | date: 'd/M/yy hh:mm'}}</p>
        <mat-card *ngIf="msg.nameUser === userService.loggedUser.username" class="right-msg">
          {{msg.content}}
        </mat-card>
      </div>
    </div>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>
    <div class="input">
      <mat-form-field appearance="outline">
        <input matInput autocomplete="off" [(ngModel)]="message" (keydown.enter)="send(message)">
      </mat-form-field>
      <button mat-fab color="primary" (click)="send(message)">
        <mat-icon>chat</mat-icon>
      </button>
    </div>
  </mat-card>
</div>

