.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

mat-form-field{
  width: 90%;
  margin: 10px 0;
}

.register{
  margin: 12px auto;
  font-size: 12px;
  text-decoration: none;
  color: #212121;
}

.login-btn{
  margin-bottom: 5px;
}
