.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.register-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-width: 20%;

}

.register-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

mat-form-field{
  margin: 5px 0;
  width: 90%;
}

button {
  margin-top:20px;
}



