<div class="container">
  <mat-card class="options">
    <p id="options-title">Opcje</p>
    <mat-selection-list #options [multiple]="false">
      <mat-list-option selected value="books">
        Moje książki
        <mat-divider></mat-divider>
      </mat-list-option>
      <mat-list-option value="advertisement">
        Moje ogłoszenia
        <mat-divider></mat-divider>
      </mat-list-option>
      <mat-list-option value="offers">
        Moje oferty
        <mat-divider></mat-divider>
      </mat-list-option>
      <mat-list-option value="credentials">
        Moje dane
      </mat-list-option>
    </mat-selection-list>
  </mat-card>

  <div class="table" *ngIf="options.selectedOptions.selected[0]?.value === 'books'">
    <table mat-table
           [dataSource]="dataSourceBook"
           class="mat-elevation-z8">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element" class="mat-column-username"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Kategoria </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="inUse">
        <th mat-header-cell *matHeaderCellDef> Wystawiona </th>
        <td mat-cell *matCellDef="let element"> <div *ngIf="element.taken === true">Tak</div>
          <div *ngIf="element.taken === false">Nie</div> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="accent"
            (click)="deleteBook(element)">Usuń</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsBooks"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsBooks;"></tr>
    </table>
  </div>

  <div class="table" *ngIf="options.selectedOptions.selected[0]?.value === 'advertisement'">
    <table mat-table
           [dataSource]="dataSourceAdvertisement"
           class="mat-elevation-z8">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element" (click)="goToBook(element.advertisementId)"> {{element.book.title}} </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let element" (click)="goToBook(element.advertisementId)"> {{element.book.author}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Kategoria </th>
        <td mat-cell *matCellDef="let element" (click)="goToBook(element.advertisementId)"> {{element.book.category}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="accent"
            (click)="deleteAdv(element)">Usuń</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsAdvertisements"></tr>
      <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumnsAdvertisements;"></tr>
    </table>
  </div>

  <div class="table" *ngIf="options.selectedOptions.selected[0]?.value === 'offers'">
    <table mat-table
           [dataSource]="dataSourceOffer"
           class="mat-elevation-z8">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Nazwa </th>
        <td mat-cell *matCellDef="let element" (click)="pickOffer(element)"> {{element.advertisement.book.title}} </td>
      </ng-container>

      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let element" (click)="pickOffer(element)"> {{element.advertisement.book.author}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Kategoria </th>
        <td mat-cell *matCellDef="let element" (click)="pickOffer(element)"> {{element.advertisement.book.category}} </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef> Moje ogłoszenie </th>
        <td mat-cell *matCellDef="let element" (click)="pickOffer(element)">
          <div *ngIf="userService.loggedUser.userId !== element.book.user.userId"> Tak </div>
          <div *ngIf="userService.loggedUser.userId === element.book.user.userId"> Nie </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="accepted">
        <th mat-header-cell *matHeaderCellDef> Akceptowana </th>
        <td mat-cell *matCellDef="let element" (click)="pickOffer(element)">
          <div *ngIf="element.accepted"> Tak </div>
          <div *ngIf="!element.accepted"> Nie </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="accent"
            (click)="deleteOffer(element)">Usuń</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsOffers"></tr>
      <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumnsOffers;"></tr>
    </table>
  </div>

  <div *ngIf="options.selectedOptions.selected[0]?.value === 'credentials'" class="right-container">
    <mat-card class="credentials">
      <p class="credentials-title">Moje dane</p>
      <mat-divider></mat-divider>
      <div class="credentials-options">
          <div class="name-mail">
            <form [formGroup]="form" #f="ngForm">
              <div>
                <p>Nazwa:</p>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="name">
                  <mat-error *ngIf="name.errors?.required">Wprowadź nazwę użytkownika</mat-error>
                  <mat-error *ngIf="name.errors?.nameExists">Nazwa {{name.value}} jest zajęta</mat-error>
                </mat-form-field>
              </div>
              <div>
                <p>E-mail:</p>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="email">
                  <mat-error *ngIf="email.errors?.required || email.errors?.pattern">Wprowadź poprawny adres e-mail</mat-error>
                  <mat-error *ngIf="email.errors?.emailExists">Email {{email.value}} jest zajęty</mat-error>
                </mat-form-field>
              </div>
              <div>
                <button
                  mat-raised-button
                  color="accent"
                  type="submit"
                  (click)="updateUserNameEmail()">Zapisz zmiany</button>
              </div>
            </form>
          </div>
<!--        <div class="password">-->
<!--          <form [formGroup]="passwordForm">-->
<!--            <p>Zmiana hasła:</p>-->
<!--            <mat-form-field appearance="outline" class="password-form">-->
<!--              <mat-label>Stare hasło</mat-label>-->
<!--              <input matInput formControlName="oldPassword">-->
<!--              <mat-error *ngIf="oldPassword.errors?.required">Wprowadź hasło</mat-error>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="outline" class="password-form">-->
<!--              <mat-label>Nowe hasło</mat-label>-->
<!--              <input matInput formControlName="password">-->
<!--              <mat-error *ngIf="password.errors?.required">Wprowadź hasło</mat-error>-->
<!--              <mat-error *ngIf="password.errors?.passwordStrength">-->
<!--                Hasło musi mieć przynajmniej 6 znaków, w tym 1 duża litera, 1 mała litera, 1 cyfra-->
<!--              </mat-error>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="outline" class="password-form">-->
<!--              <mat-label>Powtórz nowe hasło</mat-label>-->
<!--              <input matInput formControlName="samePassword">-->
<!--              <mat-error *ngIf="samePassword.errors?.required">Wprowadź hasło</mat-error>-->
<!--            </mat-form-field>-->
<!--            <mat-error *ngIf="passwordForm.errors?.isSame">Hasła nie są takie same</mat-error>-->
<!--            <div>-->
<!--              <button-->
<!--                mat-raised-button-->
<!--                color="accent"-->
<!--                type="submit">Zmień hasło</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
      </div>

    </mat-card>
  </div>

</div>

