<div class="container">
  <mat-card class="left-container">
    <p class="left-container-title">Kategorie</p>
    <mat-form-field appearance="outline" class="left-field">
      <mat-select [(value)]="selected">
        <mat-option [value]="category" *ngFor="let category of categories">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p class="left-container-title">Miejscowość</p>
    <mat-form-field appearance="outline" class="left-field">
      <input matInput autocomplete="off" [value]="city">
    </mat-form-field>
    <button mat-raised-button color="accent" class="btn">Wybierz</button>
  </mat-card>
  <div class="right-container">
    <mat-card class="filter">
      <div>
        <mat-form-field appearance="legacy" class="find">
          <mat-label>Szukaj</mat-label>
          <input matInput
                 autocomplete="off"
                 [(ngModel)]="value"
                 [matAutocomplete]="auto"
                 (keyup)="search(value)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let advertisement of advertisements$ | async"
                        >
              <div mat-line>{{advertisement.book.title}}</div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button color="accent" class="btn">Wyszukaj</button>
      </div>
      <span class="spacer"></span>
      <pagination-controls (pageChange)="page = $event" nextLabel="Następny" previousLabel="Poprzedni"></pagination-controls>
    </mat-card>
    <div class="books">
      <mat-card class="book"
                *ngFor="let book of cos | paginate: { itemsPerPage: 5, currentPage: page }">
        <div class="book-info">
          <div class="title" (click)="pickBook(book.bookId)">{{book.title}}</div>
          <div>Autor: {{book.author}}</div>
          <div>Kategoria: {{book.category}}</div>
          <div>Miejscowość: </div>
        </div>
        <div class="book-btn-container">
          <button
            mat-raised-button
            class="book-btn"
            (click)="pickBook(book.bookId)"
            color="accent">Wybierz</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>

